SFRA_BASE_URL=<sfra_storefront_url>
SITEGEN_BASE_URL=<sitegen_storefront_url>
KLAVIYO_SFRA_PRIVATE_KEY=<private_key> #If using separate sandbox env
KLAVIYO_SITEGEN_PRIVATE_KEY=<private_key> #If using separate sandbox env
KLAVIYO_V3_URL=a.klaviyo.com/api