# Replace with actual values

SFRA_BASE_URL=https://<INSTANCE>.commercecloud.salesforce.com/on/demandware.store/Sites-RefArch-Site
SITEGEN_BASE_URL=https://<INSTANCE>.commercecloud.salesforce.com/on/demandware.store/Sites-SiteGenesis-Site

# Used E2E verification of event data in a Klaviyo profile

KLAVIYO_SFRA_PRIVATE_KEY=aaaaaaaaa...
KLAVIYO_SITEGEN_PRIVATE_KEY=bbbbbbbbb...
KLAVIYO_V3_URL=a.klaviyo.com/api