.DS_Store
dw.json
node_modules/
package-lock.json
.idea
dist
storefront-reference-architecture
.vscode
.prettierrc
.env
.python-version

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
